body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}


/* style the container */

.container {
    position: relative;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 0 30px 0;
}


/* style inputs and link buttons */

input,
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    /* remove underline from anchors */
}

input:hover,
.btn:hover {
    opacity: 1;
}


/* style the submit button */

input[id="btn2"] {
    background-color: #2f00ff;
    color: white;
    cursor: pointer;
}

input[id="btn2"]:hover {
    background-color: #738d00;
}

input[id="btn"] {
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
}

input[id="btn"]:hover {
    background-color: #45a049;
}


/* bottom container */

.bottom-container {
    text-align: center;
    background-color: #666;
    border-radius: 0px 0px 4px 4px;
}


/*----------------------------------*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover {
    background: linear-gradient(to right, #00ccff 0%, #66ff33 100%);
}

input[name="B"] {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}


/*-----------------------*/


/*DROPMENù*/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    bottom: 50px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #2decd6;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #8a1e1e;
}


/*---------------------------*/